.result-box {
    display: none;
    margin-top: 16px;
    padding: 20px;
    text-align: center;
    background: #eefaf1;
    border: 1px solid #d7f0dd;
    border-radius: 8px;
}

.result-box.succeed{
    display: block;
    background: #eefaf1;
    border: 1px solid #d7f0dd;
    color: #16a34a;
}

.result-box.failed {
    display: block;
    background: #fef2f2;
    border: 1px solid #fecaca;
    color: #dc2626;
}


.result-box p {
  margin: 0;
  font-weight: 600;
  color: #374151;
}

.result-box h2 {
  margin: 10px 0;
  font-size: 36px;
}

.result-box span {
  font-size: 13px;
}

/* rate result table */
#result-table {
  margin-top: 20px;
  display: none;
}
#result-table.active{
  display: table;
}

