.chart-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.chart-controls input {
    flex: 1;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
}

.chart-wrapper {
    position: relative;
    height: 350px;
    width: 100%;

    overflow: hidden;
}

.chart-wrapper canvas {
    max-width: 100%;
    max-height: 100%;
}